{% extends "base.html" %}
{% block page_title %}Homepage{% endblock %}
{% block page_content %}
    <!-- Homepage Image Container -->
<div id="homepage-img-container">
    <!-- Homepage Image -->
    <img id="homepage-img" src="../static/images/determined.jpg" alt="marylandimage.png">
</div>
    <!-- Text and Button Section -->
<div class="text-center">
    <!-- Header -->
    <h1 id="paragraph-header">Club Baseball Merchandise</h1>
    <!-- Description -->
    <p id="paragraph-text">Explore our wide selection of exclusive Maryland Club Baseball merchandise!</p>
    <!-- Shop Now Button -->
    <a href="/merch" class="btn btn-danger">Shop Now</a>
</div>

{% endblock %}


